<div>
    <mat-grid-list cols="2" class="dashboard-container">
        <mat-grid-tile cols="2">
            <div class="text-container">
                <h1>Friendswork</h1>
                <p>"Get closer with people around the world started from your home"</p>
                <button mat-raised-button routerLink="/login">Get Started</button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile style="margin-left: -5%;">
            <img src="/assets/4575.jpg" alt="dashboard image" class="dashboard-img"/>
        </mat-grid-tile>
      </mat-grid-list>
</div>
